config SOC_SERIES_HPM5300
	bool
	select SOC_FAMILY_HPM
	select HAS_HPMSDK_PLLCTLV2
	select HAS_HPMSDK_PCFG
	help
	  Enable support for HPMicro HPM53 series SoC

config SOC_SERIES
	default "HPM5300" if SOC_SERIES_HPM5300

config SOC_HPM5321
	bool
	select SOC_SERIES_HPM5300

config SOC
	default "HPM5321" if SOC_HPM5321